<!DOCTYPE html>
<html>
 <head>

	<meta charset="UTF-8">
	<title>idee</title>
	<link rel="stylesheet" href="style.css">

 </head>

 <body>

	<!-- top -->
	<div class="top">
		
	</div>

	<div class="about-main-visual">
			<div class="main-visual-image clearfix">
				<img class="blog-image" src="assets/img/about1.jpg">
				<div class="about-content">
					自分のアイデアを形にしてみませんか？<br>
					素晴らしいモノは思いがけない形から<br>
					出来上がるものです。こんなアイデアが<br>
					あるんだけど誰かに聞いてもらいたい、<br>
					ふとした発想をつぶやきたい想いを形に<br>
					してみたい、いろんな人の意見を見たい、<br>
					そんな方をideeは待っています。<br>
					私たちと一緒にアイデアを形にしましょう。<br>
				</div>
			</div>
			<div class="main-visual-image clearfix">
				<img class="blog-image" src="assets/img/about2.jpg">
				<div class="about-content">
					素敵なアイデアを見つけたら意見の交換や<br>
					いいね！で相手とコンタクトを取りましょう。<br>
					多くの意見を取り入れることで、客観的な<br>
					視点からみることで、それはさらに良い<br>
					モノになるに違いありません。どんな小さな<br>
					ことでもこれがあればすごく便利なのに、<br>
					そんな思いでも構いません。その一歩が大きく<br>
					何かを変えるかもしれません。<br>
				</div>
			</div>
			<div class="start-content">
				<a href="/users/sign_up" class="start">ideeを始める</a>
			</div>
	</div>

 </body>
</html>