<!DOCTYPE html>
<html>
 <head>

	<meta charset="UTF-8">
	<title>idee</title>
	<link rel="stylesheet" href="style.css">

 </head>

 <body>
 	
	<div class="main-visual">
		<div class="main-visual-content">
			<p class="main-visual-text fi">貴方のアイデアを、</p>
			<p class="main-visual-text se">形に</p>
		</div>
	</div>

 </body>
</html>